<ul>
  <li>
    <label {{bind-attr for="titleField.elementId"}}>Title</label>
    {{input value=title viewName="titleField"}}
  </li>
  <li>
    <label {{bind-attr for="codeField.elementId"}}>Code</label>
    {{input value=code viewName="codeField"}}
  </li>
  <ul>
</ul>
<br>
<button {{bind-attr disabled=isNotValid}}>Update</button>
<hr>
<p>isValid: <strong>{{isValid}}</strong></p>
