<ul>
  <li>
    <label {{bind-attr for="titleField.elementId"}}>Title</label>
    {{input value=title viewName="titleField"}} <small>Remove value to see validation</small>
    {{#if validation.title.error}}<p class="error">{{validation.title.error}}</p>{{/if}}
  </li>
  <li>
    <label {{bind-attr for="slugField.elementId"}}>Slug</label>
    {{input value=slug viewName="slugField"}} <small>enter <em>validation-is-hard</em> to see ajax validation</small>
    {{#if validation.slug.error}}<p class="error">{{validation.slug.error}}</p>{{/if}}
  </li>
  <ul>
</ul>
<br>
<button {{bind-attr disabled=isNotValid}}>Update</button>
<hr>
<p>isValid: <strong>{{isValid}}</strong></p>
