<ul>
  <li>
    <label {{bind-attr for="titleField.elementId"}}>Title</label>
    {{input value=title viewName="titleField"}}
    {{#if validation.title.error}}<p class="error">{{validation.title.error}}</p>{{/if}}
  </li>
  <li>
    <label {{bind-attr for="codeField.elementId"}}>Code</label>
    {{input value=code viewName="codeField"}}
    {{#if validation.code.error}}<p class="error">{{validation.code.error}}</p>{{/if}}
  </li>
  <ul>
</ul>
<br>
<button {{bind-attr disabled=isNotValid}}>Update</button>
<hr>
<p>isValid: <strong>{{isValid}}</strong></p>
